{% extends 'base.html' %}
{% load staticfiles %}

{% block additional-css %}
    <link href="{% static 'main/css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="nav-extended cyan">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Kindem</a>
            <ul class="right">
                <li><a href="#"><i class="material-icons">search</i></a></li>
                <li><a href="/message"><i class="material-icons hide-on-med-and-down">person</i></a></li>
            </ul>
            <ul class="left hide-on-large-only">
                <li><a href="/message"><i class="material-icons">person</i></a></li>
            </ul>
        </div>
        <div class="nav-content container">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a target="_self" href="/">首页</a></li>
                <li class="tab"><a target="_self" href="/archive">归档</a></li>
                <li class="tab"><a class="active">关于</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block parallax %}
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'main/img/about_bg.png' %}" alt="Kindem个人图片-关于Kindem-Kindem的博客"></div>
        <div class="center white-text">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h3>站主:Kindem</h3>
            <h4>一只想做全栈开发者的野生程序猿</h4>
        </div>
    </div>
{% endblock %}

{% block main %}
    <!--简介-->
    <div class="section teal lighten-5">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <br><br><br><br><br><br><br><br><br><br>
                    <h2>简介</h2>
                    <p class="flow-text">男，20岁，南京航空航天大学计算机学院在校本科生，目前大三，热爱生活，热爱编程，
                        热爱ACG。喜欢学习新技术，自己捣鼓项目，学习过很多门编程语言，接触过很多技术。最喜欢的技术是Web
                        开发和游戏开发。最大的梦想是能够成为一名全栈开发或是一名游戏开发者。审美上对Material Design没有抵抗力。</p>
                    <br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>

    <!--履历-->
    <div class="section indigo lighten-5">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <br><br><br><br><br><br><br><br><br><br><br>
                    <h2>经历</h2>
                    <table class="flow-text">
                        <thead>
                            <tr>
                                <th>开始年份</th>
                                <th>持续时间</th>
                                <th>地点</th>
                                <th>履历</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>2015</th>
                                <th>4</th>
                                <th>南京航空航天大学</th>
                                <th>大学本科</th>
                            </tr>
                        </tbody>
                    </table>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>

    <!--技能点-->
    <div class="section blue lighten-5">
        <div class="container">
            <div class="row">
                <br><br><br><br><br><br><br>
                <div class="col s12 m12 l12 xl12">
                    <h2>技能点</h2>
                    <br>
                    <h4>语言</h4>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;C&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;C++&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;C#&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Java&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Kotlin&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Python&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Html&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Css&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;JavaScript&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Markdown&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;SQL&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Arduino&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Assembly&nbsp;&nbsp;</div>
                    <h4>框架/库</h4>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;jQuery&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Bootstrap&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Materialize&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Django&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;OpenCV&nbsp;&nbsp;</div>
                    <h4>工具</h4>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;IDEA&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;WebStorm&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;PyCharm&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Android Studio&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Visual Studio&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Visual Studio Code&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Unity3D&nbsp;&nbsp;</div>
                    <div class="chip z-depth-1 hoverable">&nbsp;&nbsp;Vim&nbsp;&nbsp;</div>
                </div>
                &nbsp;
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional-js %}
    <script src="{% static 'main/js/about.js' %}"></script>
{% endblock %}