{% extends 'base.html' %}
{% load staticfiles %}

{% block additional-css %}
    <link href="{% static 'main/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="nav-extended cyan">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Kindem</a>
            <ul class="right">
                <li><a href="#"><i class="material-icons">search</i></a></li>
                <li><a href="#"><i class="material-icons hide-on-med-and-down">person</i></a></li>
            </ul>
            <ul class="left hide-on-large-only">
                <li><a href="#"><i class="material-icons">person</i></a></li>
            </ul>
        </div>
        <div class="nav-content container">

            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#" class="active">首页</a></li>
                <li class="tab"><a target="_blank" href="tag_old.html">标签</a></li>
                <li class="tab"><a target="_blank" href="#">归档</a></li>
                <li class="tab"><a target="_blank" href="about_old.html">关于</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block parallax %}
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'main/img/index_bg.jpg' %}"></div>
        <div class="center white-text">
            <br><br><br><br><br><br><br>
            <h2>一生想做烂漫 Coder</h2>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="section teal lighten-5">
        <div class="row">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col s12 m12 l6 xl6">
                        <div class="card medium z-depth-3 hoverable">
                            <div class="card-image">
                                <img src="{% static 'main/img/test1.png' %}">
                                <span class="card-title">Facker被Bang演了!!</span>
                            </div>
                            <div class="card-content">
                                <p>比赛结束后，Facker趴在桌子上久久不能释怀，我曹，怎么会被一起战斗了那么久的队友演呢?
                                    比赛结束后，Facker趴在桌子上久久不能释怀，我曹，怎么会被一起战斗了那么久的队友演呢?</p>
                            </div>
                            <div class="card-action">
                                <a href="#" class="read-all-post-link">阅读全文</a>
                                <a href="#" class="share-link">分享</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6 xl6">
                        <div class="card medium z-depth-3 hoverable">
                            <div class="card-image">
                                <img src="{% static 'main/img/test1.png' %}">
                                <span class="card-title">Facker被Bang演了!!</span>
                            </div>
                            <div class="card-content">
                                <p>比赛结束后，Facker趴在桌子上久久不能释怀，我曹，怎么会被一起战斗了那么久的队友演呢?
                                    比赛结束后，Facker趴在桌子上久久不能释怀，我曹，怎么会被一起战斗了那么久的队友演呢?</p>
                            </div>
                            <div class="card-action">
                                <a href="#">阅读全文</a>
                                <a href="#">分享</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l6 xl6">
                        <div class="card medium z-depth-3 hoverable">
                            <div class="card-image">
                                <img src="{% static 'main/img/test1.png' %}">
                                <span class="card-title">Facker被Bang演了!!</span>
                            </div>
                            <div class="card-content">
                                <p>比赛结束后，Facker趴在桌子上久久不能释怀，我曹，怎么会被一起战斗了那么久的队友演呢?
                                    比赛结束后，Facker趴在桌子上久久不能释怀，我曹，怎么会被一起战斗了那么久的队友演呢?</p>
                            </div>
                            <div class="card-action">
                                <a href="#" class="read-all-post-link">阅读全文</a>
                                <a href="#" class="share-link">分享</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6 xl6">
                        <div class="card medium z-depth-3 hoverable">
                            <div class="card-image">
                                <img src="{% static 'main/img/test1.png' %}">
                                <span class="card-title">Facker被Bang演了!!</span>
                            </div>
                            <div class="card-content">
                                <p>比赛结束后，Facker趴在桌子上久久不能释怀，我曹，怎么会被一起战斗了那么久的队友演呢?
                                    比赛结束后，Facker趴在桌子上久久不能释怀，我曹，怎么会被一起战斗了那么久的队友演呢?</p>
                            </div>
                            <div class="card-action">
                                <a href="#">阅读全文</a>
                                <a href="#">分享</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12 xl12">
                <div class="row center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                        <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional-js %}
    <script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}