{% extends 'base.html' %}
{% load staticfiles %}

{% block additional-css %}
    <link href="{% static 'main/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="nav-extended cyan">
        <div class="nav-wrapper container">
            <a href="http://www.kindemh.cn" class="brand-logo">IT小站</a>
            <ul class="right">
                <li><a href="#"><i class="material-icons">search</i></a></li>
                <li class="hide-on-med-and-down"><a href="http://www.kindemh.cn/message"><i class="material-icons">person</i></a></li>
            </ul>
            <ul class="left hide-on-large-only">
                <li><a href="http://www.kindemh.cn/message"><i class="material-icons">person</i></a></li>
            </ul>
        </div>
        <div class="nav-content container">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active">首页</a></li>
                <li class="tab"><a target="_self" href="http://www.kindemh.cn/archive">归档</a></li>
                <li class="tab"><a target="_self" href="http://www.kindemh.cn/about">关于</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block parallax %}
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'main/img/index_bg.jpg' %}" alt="Parallax背景-Kindem的博客"></div>
        <div class="center white-text">
            <br><br><br><br><br><br>
            <h2>专注技术的小博客</h2>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="section teal lighten-5">
        <div class="row">
            <div class="container">
                <br>
                <div class="row hide-on-med-and-down">
                    <div class="col l6 xl6">
                        {% for post in posts_left %}
                            <div class="card white">
                                <div class="card-content">
                                    <span class="card-title">{{ post.title }}</span>
                                    <p>{{ post.excerpt }}</p>
                                </div>
                                <div class="card-action">
                                    <a href="http://www.kindemh.cn/post/{{ post.pk }}">全文</a>
                                    <!--<a href="#">分享</a>-->
                                    <span class="right">{{ post.created_time }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col l6 xl6">
                        {% for post in posts_right %}
                            <div class="card white">
                                <div class="card-content">
                                    <span class="card-title">{{ post.title }}</span>
                                    <p>{{ post.excerpt }}</p>
                                </div>
                                <div class="card-action">
                                    <a href="http://www.kindemh.cn/post/{{ post.pk }}">全文</a>
                                    <!--<a href="#">分享</a>-->
                                    <span class="right">{{ post.created_time }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row hide-on-large-only">
                    <div class="col s12 m12">
                        {% for post in posts %}
                            <div class="card white">
                                <div class="card-content">
                                    <span class="card-title">{{ post.title }}</span>
                                    <p>{{ post.excerpt }}</p>
                                </div>
                                <div class="card-action">
                                    <a href="http://www.kindemh.cn/post/{{ post.pk }}">全文</a>
                                    <!--<a href="#">分享</a>-->
                                    <span class="right">{{ post.created_time }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12 xl12">
                <div class="row center">
                    <ul class="pagination">
                        {% if is_first_page %}
                            <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                        {% else %}
                            <li class="waves-effect"><a href="http://www.kindemh.cn/{{ pre_page }}"><i class="material-icons">chevron_left</i></a></li>
                        {% endif %}

                        {% if is_last_page %}
                            <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                        {% else %}
                            <li class="waves-effect"><a href="http://www.kindemh.cn/{{ next_page }}"><i class="material-icons">chevron_right</i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional-js %}
    <script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}