{% extends 'base.html' %}
{% load staticfiles %}

{% block additional-css %}
    <link href="{% static 'main/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block parallax %}
{% endblock %}

{% block navbar %}
    <nav class="cyan">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo center">Kindem</a>
            <ul class="left">
                <li><a href="#"><i class="material-icons">arrow_back</i></a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="section teal lighten-5 admin-login-container">
        <div class="row">
            <div class="container">
                <div class="row show-on-medium-and-up hide-on-small-only">
                    <br><br><br><br><br><br>
                </div>
                <div class="row show-on-small hide-on-med-and-up">
                    <br><br><br><br><br>
                </div>
                <div class="row admin-login-row">
                    <div class="col s8 m6 l6 xl6 offset-s2 offset-m3 offset-l3 offset-xl3">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="username" type="text" class="validate" name="username">
                            <label for="username">用户名</label>
                        </div>

                        <div class="input-field">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="password" type="password" class="validate" name="password">
                            <label for="password">密码</label>
                        </div>

                        <div class="input-field center">
                            <br>
                            <a class="waves-effect waves-light btn cyan lighten-3" id="login-btn">登录</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="waves-effect waves-light btn cyan lighten-3" id="register-btn">注册</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional-js %}
    <script src="{% static 'main/js/login.js' %}"></script>
{% endblock %}