<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登录-Admin</title>

    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Materialize-->
    <link href="lib/materialize/css/materialize.min.css" rel="stylesheet" media="screen,projection">

    <!--Login CSS-->
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
    <!--导航栏-->
    <nav class="cyan">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo center">Kindem</a>
            <ul class="left">
                <li><a href="#"><i class="material-icons">arrow_back</i></a></li>
            </ul>
        </div>
    </nav>

    <!--主容器-->
    <div class="section teal lighten-5 admin-login-container">
        <div class="row">
            <div class="container">
                <div class="row show-on-medium-and-up hide-on-small-only">
                    <br><br><br><br><br><br>
                </div>
                <div class="row show-on-small hide-on-med-and-up">
                    <br><br><br><br><br>
                </div>
                <div class="row admin-login-row">
                    <div class="col s8 m6 l6 xl6 offset-s2 offset-m3 offset-l3 offset-xl3">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="username" type="text" class="validate" name="username">
                            <label for="username">用户名</label>
                        </div>

                        <div class="input-field">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="password" type="password" class="validate" name="password">
                            <label for="password">密码</label>
                        </div>

                        <div class="input-field center">
                            <br>
                            <a class="waves-effect waves-light btn cyan lighten-3" id="login-btn">登录</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="waves-effect waves-light btn cyan lighten-3" id="register-btn">注册</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--页脚-->
    <footer class="page-footer cyan">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l4 xl4">
                    <h4>Contact Me With</h4>
                    <p>QQ: 461425614<br>邮箱: 461425614@qq.com</p>
                    <br>
                </div>
                <div class="col s12 m12 l4 xl4">
                    <h5>More</h5>
                    <ul>
                        <li><a href="#" class="white-text">GitHub&nbsp;-&nbsp;FlyAndNotDown</a></li>
                        <li><a href="https://www.zhihu.com/people/wang-yu-zhi-ku-66/activities" class="white-text">知乎&nbsp;-&nbsp;亡与栀枯</a></li>
                        <li><a href="https://user.qzone.qq.com/461425614/infocenter" class="white-text">QZone&nbsp;-&nbsp;可见影子</a></li>
                    </ul>
                </div>
                <div class="col s12 m12 l4 xl4">
                    <h5>Donate</h5>
                    <button type="button" class="btn cyan lighten-2 waves-effect donate-modal-trigger">请我喝一杯咖啡</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">@ 2017 Copyright kindemh.cn<br>
                Frontend Framework By <a href="http://materializecss.com/about.html" class="white-text">Materialize</a></div>
        </div>
    </footer>

    <!--jQuery-->
    <script src="lib/jQuery/jquery-3.2.1.min.js"></script>

    <!--Materialize-->
    <script src="lib/materialize/js/materialize.min.js"></script>

    <!--Login JS-->
    <script src="js/login.js"></script>
</body>
</html>