{% extends 'base.html' %}
{% load staticfiles %}

{% block additional-css %}
    <link href="{% static 'main/css/post.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/markdown/highlights/github.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="nav-extended cyan">
        <div class="nav-wrapper container">
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><i class="material-icons hide-on-med-and-down">person</i></a></li>
                <li><a href="#"><i class="material-icons">search</i></a></li>
            </ul>
            <ul class="left">
                <li><a><i class="material-icons go-back">arrow_back</i></a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block parallax %}
{% endblock %}

{% block main %}
    <div class="section teal lighten-5">
        <div class="container" id="post-container">
            <br>
            <div class="row">
                <div class="col s12 m12 l10 offset-l1 xl10 offset-xl1">
                    <h1 class="center">{{ post.title }}</h1>
                    <div class="row center">
                        <div>
                            {% if phase_days_created == 0 %}
                            <a href="#" class="grey-text lighten-3 tooltipped" data-position="bottom"data-delay="50"
                               data-tooltip="{{ post.created_time }}">发表时间:{{ phase_hours_created }}小时前</a>
                        {% else %}
                            <a href="#" class="grey-text lighten-3 tooltipped" data-position="bottom" data-delay="50"
                               data-tooltip="{{ post.created_time }}">
                                发表时间:{{ phase_days_created }}天{{ phase_hours_created }}小时前</a>
                        {% endif %}
                        </div>
                        <div>
                            {% if phase_days_modified == 0 %}
                                <a href="#" class="grey-text lighten-3 tooltipped" data-position="bottom" data-delay="50"
                                   data-tooltip="{{ post.modified_time }}">最后修改:{{ phase_hours_modified }}小时前</a>
                            {% else %}
                                <a href="#" class="grey-text lighten-3 tooltipped" data-position="bottom" data-delay="50"
                                   data-tooltip="{{ post.modified_time }}">
                                    最后修改:{{ phase_days_modified }}天{{ phase_hours_modified }}小时前</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row center">
                        &nbsp;
                        {% for tag_obj in post.tags.all %}
                            <a><div class="chip hoverable z-depth-1">&nbsp;&nbsp;{{ tag_obj.name }}&nbsp;&nbsp;</div></a>
                        {% endfor %}
                    </div>
                    <div class="row main">
                        <div class="col s12 m12 l12 xl12">
                            {{ post.body | safe }}
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}

{% block additional-js %}
    <script src="{% static 'main/js/post.js' %}" rel="stylesheet"></script>
{% endblock %}