{% extends 'base.html' %}
{% load staticfiles %}

{% block additional-css %}
    <link href="{% static 'main/css/post.css' %}" rel="stylesheet">
    <link href="{% static 'main/lib/markdown/highlights/github.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="nav-extended cyan">
        <div class="nav-wrapper container">
            <ul class="right hide-on-med-and-down">
                <li><a href="http://www.kindemh.cn/message"><i class="material-icons hide-on-med-and-down">person</i></a></li>
                <li><a href="#"><i class="material-icons">search</i></a></li>
            </ul>
            <ul class="left">
                <li><a><i class="material-icons" id="go-back">arrow_back</i></a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block parallax %}
{% endblock %}

{% block main %}
    <div class="section teal lighten-5">
        <div class="container" id="post-container">
            <br>
            <div class="row">
                <div class="col s12 m12 l10 offset-l1 xl10 offset-xl1">
                    <!--标题-->
                    <h1 class="center">{{ post.title }}</h1>
                    <!--发表时间与最后修改时间-->
                    <div class="row center">
                        <div>
                            {% if phase_days_created == 0 %}
                            <a href="#" class="grey-text lighten-3 tooltipped" data-position="bottom"data-delay="50"
                               data-tooltip="{{ post.created_time }}">发表时间:{{ phase_hours_created }}小时前</a>
                        {% else %}
                            <a href="#" class="grey-text lighten-3 tooltipped" data-position="bottom" data-delay="50"
                               data-tooltip="{{ post.created_time }}">
                                发表时间:{{ phase_days_created }}天{{ phase_hours_created }}小时前</a>
                        {% endif %}
                        </div>
                        <div>
                            {% if phase_days_modified == 0 %}
                                <a href="#" class="grey-text lighten-3 tooltipped" data-position="bottom" data-delay="50"
                                   data-tooltip="{{ post.modified_time }}">最后修改:{{ phase_hours_modified }}小时前</a>
                            {% else %}
                                <a href="#" class="grey-text lighten-3 tooltipped" data-position="bottom" data-delay="50"
                                   data-tooltip="{{ post.modified_time }}">
                                    最后修改:{{ phase_days_modified }}天{{ phase_hours_modified }}小时前</a>
                            {% endif %}
                        </div>
                    </div>
                    <!--标签-->
                    <div class="row center">
                        &nbsp;
                        {% for tag_obj in post.tags.all %}
                            <a><div class="chip hoverable z-depth-1">&nbsp;&nbsp;{{ tag_obj.name }}&nbsp;&nbsp;</div></a>
                        {% endfor %}
                    </div>
                    <!--文章内容-->
                    <div class="row main">
                        <div class="col s12 m12 l12 xl12">
                            {{ post.body | safe }}
                        </div>
                    </div>

                    <!--扩展-->
                    <div class="row extend">
                        <div class="col s12 m12 l12 xl12">
                            <!--赞赏-->
                            <div class="row">
                                <div class="col s12 m12 l12 xl12">
                                    <a class="btn cyan lighten-3">¥ 觉得文章有帮助?请随意打赏</a>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <br>
                            <!--发表评论以及登录-->
                            {% if login_state %}
                                <!--发表评论-->
                                <div class="row">
                                    <div class="col s12 m12 l12 xl12">
                                        <div class="chip">
                                            <img src="{{ avatar }}">
                                            {{ nickname }}({{ user_type }})
                                        </div>
                                        <br>
                                        <br>
                                        <div class="input-field">
                                            <i class="material-icons prefix">mode_edit</i>
                                            <textarea class="materialize-textarea" id="comment-input" data-length="500"></textarea>
                                            <label for="comment-input">发表你的评论</label>
                                            <a class="btn green lighten-3 right disabled">发表(评论功能暂时关闭)</a>
                                        </div>
                                    </div>

                                </div>
                            {% else %}
                                <!--登录-->
                                <div class="row">
                                    <div class="col s12 m12 l12 xl12">
                                        <h5>请登录后参与评论:</h5>
                                        <a class="btn cyan lighten-3" href="{{ github_login_link }}">GitHub</a>
                                        <a class="btn cyan lighten-3 disabled">QQ</a>
                                        <a class="btn cyan lighten-3 disabled">微信</a>
                                        <a class="btn cyan lighten-3 disabled">新浪微博</a>
                                    </div>
                                </div>
                                <br>
                            {% endif %}
                            <div class="divider"></div>
                            <!--所有评论-->
                            <div class="row">
                                <div class="col s12 m12 l12 xl12">
                                    <!--TODO-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}

{% block additional-js %}
    <script src="{% static 'main/js/post.js' %}" rel="stylesheet"></script>
{% endblock %}