{% extends 'kadmin_base.html' %}
{% load staticfiles %}

{% block additional-css %}
    <link href="{% static 'main/css/kadmin/file.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="nav-extended cyan">
        <div class="nav-wrapper container">
            <a class="brand-logo">KAdmin</a>
            <ul class="right">
                <li><a><i class="material-icons">exit_to_app</i></a></li>
            </ul>
        </div>
        <div class="nav-content container">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="/kadmin" target="_self">概要</a></li>
                <li class="tab disabled"><a href="#" target="_self">数据库管理</a></li>
                <li class="tab"><a class="active">文件管理</a></li>
            </ul>
        </div>
    </nav>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1">
                    <br>
                    <div class="row">
                        <div class="col s12 m12 l12 xl12">
                            <h3>图片上传</h3>
                            <br>
                            <div class="file-field input-field">
                                <div class="btn cyan">
                                    <span>picture</span>
                                    <input type="file" id="picture">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">flip</i>
                                <input id="picture-url" type="text">
                                <label for="picture-url">已上传图片的URL</label>
                            </div>
                            <a class="btn cyan" id="picture-upload-submit">提交并且获取图片URL</a>
                        </div>
                    </div>
                    <br>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block parallax %}
{% endblock %}

{% block main %}
{% endblock %}

{% block additional-js %}
    <script>
        $(document).ready(function () {
            // 提交按钮响应
            $('#picture-upload-submit').click(function () {
                var formData = new FormData();
                formData.append('picture', $('#picture')[0].files[0]);
                $.ajax({
                    url: '/picture/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    async: true,
                    success: function (jsonObj) {
                        if (jsonObj.state) {
                            Materialize.toast('上传图片成功!图片url已经保存到剪切板!', 2000);
                            var tmp = $('#picture-url');
                            tmp.val(jsonObj.url);
                        } else {
                            Materialize.toast(jsonObj.reason, 2000);
                        }
                    }
                })
            });
        });
    </script>
{% endblock %}