{#读取静态文件#}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ header.description }}">
    <meta name="keywords" content="{{ header.keywords }}">

    <title>{{ header.title }}</title>

    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Materialize-->
    <link href="{% static 'main/lib/materialize/css/materialize.min.css' %}" rel="stylesheet" media="screen,projection">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {# 附加css块 #}
    {% block additional-css %}
    {% endblock %}
</head>
<body>
    {# 导航栏块 #}
    {% block navbar %}
    {% endblock %}

    {# parallax块(如果有) #}
    {% block parallax %}
    {% endblock %}

    {# 主容器 #}
    {% block main %}
    {% endblock %}

    <!--Action Button-->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating green disabled"><i class="material-icons">share</i></a></li>
            <li><a class="btn-floating yellow darken-1 disabled"><i class="material-icons">mail</i></a></li>
            <li><a class="btn-floating blue disabled"><i class="material-icons">bug_report</i></a></li>
        </ul>
    </div>

    <!--页脚-->
    <footer class="page-footer cyan">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4 xl4">
                    <h4>联系方式</h4>
                    <p>QQ: 461425614<br>
                        邮箱: <a href="mailto:461425614@qq.com" class="white-text">461425614@qq.com</a><br>
                        <a class="white-text" href="mailto:461425614@qq.com">交换友链</a>
                    </p>
                    <br>
                </div>
                <div class="col s12 m6 l4 xl4">
                    <h4>站长链接</h4>
                    <ul>
                        <li><a href="/rss" class="white-text">RSS订阅(复制该链接到你的RSS阅读器中)</a></li>
                        <li><a href="https://github.com/FlyAndNotDown" class="white-text">GitHub&nbsp;-&nbsp;FlyAndNotDown</a></li>
                        <li><a href="https://www.zhihu.com/people/kindem/activities" class="white-text">知乎&nbsp;-&nbsp;亡与栀枯</a></li>
                        <li><a href="https://www.jianshu.com/users/d498ebae7b21/timeline" class="white-text">简书 - Kindem</a></li>
                    </ul>
                </div>
                <div class="col s12 m6 l4 xl4">
                    <h4>友情链接</h4>
                    <ul>
                        <li><a class="white-text" href="http://chestnut-phoenix.xyz/">栗子木凤凰芯</a></li>
                        <li><a class="white-text" href="http://www.architecy.com/">网站架构-架构师记录点滴</a></li>
                        <li><a class="white-text" href="http://www.tigerbook.cn/">虎书博客</a></li>
                        <li><a class="white-text" href="http://www.codelovers.cn/">编程爱好者之家</a></li>
                        <li><a class="white-text" href="http://www.tcode.me/">淘代码-专注JS特效</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">@ 2017 Copyright kindemh.cn<br>
                Frontend Framework By <a href="http://materializecss.com/about.html" class="white-text">MaterializeCSS</a></div>
        </div>
    </footer>

    <!--jQuery-->
    <script src="{% static 'main/lib/jQuery/jquery-3.2.1.min.js' %}"></script>
    <!--Materialize-->
    <script src="{% static 'main/lib/materialize/js/materialize.min.js' %}"></script>
    <!--百度自动推送工具-->
    <script src="{% static 'main/lib/baidu/auto-submit.js' %}"></script>
    <!--360自动推送工具-->
    <script src="{% static 'main/lib/360/auto-submit.js' %}"></script>

    {# 额外js块 #}
    {% block additional-js %}
    {% endblock %}
</body>
</html>