body {
    font-family: "Microsoft YaHei UI Light", monospace;
    height: 100%;
}

html {
    height: 100%;
}

.admin-login-container {
    height: 91.4%;
}

.admin-login-row {
    position: relative;
}
