.img-row {
    padding-right: 20px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4, h5, h6 {
    font-size: 25px;
}

p, a, li {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

body {
    font-family: "Microsoft YaHei UI Light", monospace;
}