.img-row {
    padding-right: 20px;
}

.section h1 {
    font-size: 50px;
}

.section h2 {
    font-size: 40px;
}

.section h3 {
    font-size: 30px;
}

.section h4, .section h5, .section h6 {
    font-size: 25px;
}

.section p, .section a, .section li {
    font-size: 20px;
}

.section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
    font-weight: bold;
}

body {
    font-family: "Microsoft YaHei UI Light", monospace;
}