.img-row {
    padding-right: 20px;
}

.section h1 {
    font-size: 45px;
}

.section .main h1 {
    font-size: 35px;
}

.section .main h2 {
    font-size: 30px;
}

.section .main h3, .section .main h4, .section .main h5, .section .main h6 {
    font-size: 25px;
}

.section p, .section a, .section li {
    font-size: 20px;
}

.section h1, .section h2, .section h3 {
    font-weight: bold;
}

body {
    font-family: "Microsoft YaHei UI Light", monospace;
}

.section .codehilite pre {
    font-family: Consolas, "Courier New", monospace;
    font-size: 18px;
}

.section ul li {
    list-style: disc inside;
    padding-left: 15px;
}

.section ol li {
    list-style: decimal outside;
    padding-left: 0;
}

body .main {
    /*自动换行*/
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    font-family: Consolas, "Courier New", "Microsoft YaHei UI Light", monospace;
}

body .extend {
    font-family: Consolas, "Courier New", "Microsoft YaHei UI Light", monospace;
} a.re-comment-link {
    font-size: 16px;
  }

pre {
    background-color: #f7f7f7;
    padding: 10px 15px;
    width: 100%;
    /*自动换行*/
    white-space: pre-wrap;
    word-break: break-all;
} span {
    font-size: 16px;
  }
